.nav {
  margin: 1rem 0;
}

.nav li a {
  color: var(--color-text-primary);
  padding: 1rem;
  display: block;
  margin-left: 1rem;
  transition: all 0.2s ease-out;
}
.nav li {
  position: relative;
}
.nav li::before {
  content: "";
  width: 20px;
  height: 1px;
  background-color: aqua;
  display: block;
  position: absolute;
  top: 50%;
  transition: all 0.2s ease-out;
}
.nav li:hover::before {
  width: 40px;
}
.nav li a:hover {
  padding-left: 3rem;
}
